extends layout

block content
    .col-2of5.bg-white
        form.profile(action="profile/edit" method="POST")
            .relative.img-edit
                img.avatar#avatar-image(src="/img/sample-avatar.png" alt="avatar")
                input#avatar-file(type="hidden" role="uploadcare-uploader" name="my_file" data-images-only)
                img.avatar-upload#avatar-file-btn(src="/img/upload.png" alt="upload-img")
            input.input-profile#name-input(type="text" placeholder="Full name")
            h5#username
            input.input-profile#location-input(type="text" placeholder="Location")
            textarea.input-profile#bio-input(placeholder="Personal Bio")
            button.btn-primary.space-top#save-btn(type="submit") Save
            a.btn-border.space-top(href="/profile") Cancel
    include tweet

block script
    script.
        $('.avatar-upload').click(function() {
            uploadcare.openDialog(null, {
                previewStep:true,
                crop:true,
            }).done((file) => {
                file.promise().done(fileInfo=>{
                    $.ajax({
                        url: '/profile/avatar',
                        type: 'POST',
                        data: { avatarUrl: fileInfo.cdnUrl },
                        success(res) {
                            if (res.success) location.href='/profile';
                        }
                    });
                });
            });
        });