extends layout

block content
    .col-2of5.bg-white.profile
        #profile-content
        a.btn-border.space-top(href="/profile/edit") Edit profile
        a.btn-border.space-top(href="/logout") Log out
    include tweet
