extends layout

block content
    .container
        .col-2of5.bg-white.profile.user-auth
            h3 Log in to Web Tweet
            form#signup-form(action="/signup" method="POST")
                input.input-auth#username(type="text" placeholder="Username" name="username" required="")
                input.input-auth#password(type="password" placeholder="Password" name="password" required="")
                input.input-auth#confirmPassword(type="password" placeholder="Repeat password" name="confirmPassword" required="")
                button.btn-primary#login-btn(type="submit") Sign up
            h6 Have an account? 
                a(href="login") Log in
        .col-3of5.bg-white
            #tweet-list